:root {
    --background-color: #ffffff; 
    --text-color: #000000;
    --logo-color: #000000;
    --navbar-background: #ffffff; 
    --navbar-text-color: #000000; 
    --link-color: #000000;
    --link-hover-color: #ff6347;
    --hero-background: #ffffff; 
    --input-bg-color: #ffffff;
    --photo-caption-color: #323232;
    --hero-end-color: rgb(48, 48, 48);
    --input-border-color: #cccccc; 
    --placeholder-color: #3d3d3d; 
    --shadow-color: rgba(0, 0, 0, 0.1); 
}

[data-theme="dark"] {
    --background-color: #000000;    
    --text-color: #ffffff;
    --logo-color: #ffffff;
    --navbar-background: #000000;    
    --navbar-text-color: #ffffff;     
    --link-color: #ffffff;    
    --link-hover-color: #f39c12;
    --hero-end-color: rgb(190, 185, 176);
    --hero-background: #000000;       
    --input-bg-color: #333333;
    --photo-caption-color: #a7a7a7;
    --input-border-color: #444444;    
    --placeholder-color: #bbbbbb;     
    --shadow-color: rgba(255, 255, 255, 0.1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    line-height: 1.6;
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
}

.navbar {
    background-color: var(--navbar-background);
    color: var(--navbar-text-color);
    padding: 1rem;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 15px;
}

.nav-links a {
    color: var(--link-color);
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: var(--link-hover-color);
}

.theme-button {
    padding: 0rem 0.5rem;
    border: 2px solid var(--link-color);
    background-color: var(--background-color);
    color: var(--link-color);
    border-radius: 1rem;
    font-weight: 700;
}

.hamburger {
    display: none;
    flex-direction: column;
    gap: 5px;
    background: none;
    border: none;
    cursor: pointer;
}

.hamburger .line {
    width: 25px;
    height: 3px;
    background: var(--logo-color);
    border: 1px soled var(--logo-color);
    border-radius: 2px;
    transition: all 0.3s ease;
}

@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%;
        right: 0;
        background: var(--background-color);
        padding: 1rem;
        width: 100%;
        max-width: 300px;
        border-radius: 0 0 10px 10px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    }

    .nav-links.show {
        display: flex;
    }

    .hamburger {
        display: flex;
    }

    .hamburger.active .line:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .line:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .line:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}

.left-text {
    text-align: top;
    font-size: 1.5rem;
    letter-spacing: 0.2rem; 
    font-weight: 300; 
    line-height: 1.5; 
    padding-top: 10rem;
}

.gradient-text {
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
    background: linear-gradient(
        90deg,
        red,
        orange,
        yellow,
        green,
        cyan,
        blue,
        violet,
        pink,
        teal,
        magenta,
        red,
        orange
    );
    background-size: 1000%; 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: infinite-rgb-flow 9s linear infinite; 
}

@keyframes infinite-rgb-flow {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

.hero-photo-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 10px; 
    padding: 10px;
    padding-top: 20rem;
}

.hero-photo {
    width: 100%;
    height: 18rem; 
    border-radius: 8px; 
    object-fit: cover; 
    box-shadow: 0 4px 8px var(--shadow-color);
}

@media (max-width: 768px) {
    .hero-photo-container {
        grid-template-columns: repeat(2, 1fr); 
    }
}

@media (max-width: 480px) {
    .hero-photo-container {
        grid-template-columns: 1fr; 
    }
}

@font-face {
    font-family: 'PluturFont';
    src: url('../fonts/Plutur/Plutur.otf') format('opentype'), 
         url('../fonts/Plutur/Plutur.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

.logo-text {
    font-family: 'PluturFont', Arial, sans-serif;
    font-size: 1.5rem;
    color: var(--logo-color);
}

.hero {
    text-align: left;
    padding: 100px 20px;
    background-color: var(--hero-background);
    color: var(--text-color);
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateX(20px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.hero-text {
    font-size: 2.5rem; 
    font-weight: bold;
    text-transform: uppercase;
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
}

.hero-text:nth-child(1) {
    animation-delay: 0.3s;
}

.hero-text:nth-child(2) {
    animation-delay: 0.6s;
}

.hero-text:nth-child(3) {
    animation-delay: 0.9s;
}

.hero-end-text {
    color: var(--hero-end-color);
    font-size: 1.2rem;
}

.photo-row {
    display: flex;
    overflow-x: auto;
    gap: 10px;
    padding: 10px;
    scrollbar-width: thin;
}

.photo-row::-webkit-scrollbar {
    height: 8px;
}

.photo-row::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}

.photo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    text-align: center;
    width: 14.1rem;
}

.photo {
    height: 20rem;
    width: 14.1rem;
    border-radius: 8px;
    object-fit: cover;
}

.photo-caption {
    margin-top: 8px;
    font-size: 1.2rem;
    color: var(--photo-caption-color);
}

@media (max-width: 768px) {
    .photo {
        height: 150px;
        width: 100%;
    }
    .photo-container {
        width: auto;
    }
}

.projects {
    padding: 20px;
    max-width: 100%;
    margin: 0 auto;
}

.project-item {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    gap: 20px; 
}

.project-item img {
    width: 40%;
    height: auto;
    border-radius: 20px;
    object-fit: cover;
}

.project-details {
    flex: 1; 
    padding: 0 20px;
}

.project-details h2 {
    font-size: 1.8rem;
    color: var(--text-color);
    margin-bottom: 10px;
}

.project-details p {
    font-size: 1.2rem;
    color: var(--text-color);
}

@media (max-width: 768px) {
    .project-item {
        flex-direction: column; 
        text-align: center;
    }

    .project-item img {
        width: 80%; 
        margin-bottom: 20px;
    }

    .project-details {
        padding: 0;
    }
}

.about-section {
    padding: 40px;
    max-width: 1200px;
    margin: 0 auto;
    color: var(--text-color);
    background-color: var(--background-color);
}

.about-section h1 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.about-item {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    gap: 20px;
    flex-wrap: wrap;
}

.about-item:nth-child(even) {
    flex-direction: row-reverse;
}

.text-content {
    flex: 1;
    max-width: 500px;
}

.text-content h2 {
    font-size: 1.8rem;
    color: #f39c12;
    margin-bottom: 10px;
}

.text-content p {
    font-size: 1.2rem;
    line-height: 1.6;
}

.photo-collage {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.cloud-photo {
    width: 12rem;
    height: 20rem;
    border-radius: 1rem;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    opacity: 0;
    animation: fadeInUp 0.6s ease-out forwards;
    animation-delay: 0.2s;
}

@media (max-width: 768px) {
    .about-item {
        flex-direction: column;
    }
    .cloud-photo {
        width: 120px;
        height: 120px;
    }
}

.blog-posts {
    padding: 50px 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.post {
    margin-bottom: 50px;
    background: var(--background-color);
    border-radius: 10px;
    overflow: hidden;
}

.post-video iframe {
    border: none;
    width: 100%;
    height: 450px;
}

.post-text {
    padding: 20px;
}

.post-text h2 {
    font-size: 2rem;
    color: #f39c12;
    margin-bottom: 20px;
}

.post-text p {
    font-size: 1.2rem;
    color: var(--text-color);
    line-height: 1.6;
}

@media (max-width: 768px) {
    .navbar ul {
        flex-direction: column;
        align-items: center;
    }

    .navbar li {
        margin: 10px 0;
    }

    .post-video iframe {
        height: 300px;
    }

    .post-text h2 {
        font-size: 1.6rem;
    }

    .post-text p {
        font-size: 1rem;
    }
}

.contact-form {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: var(--background-color);
    color: var(--text-color);
    border: 1px solid var(--input-border-color);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #f39c12;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: var(--input-bg-color);
    border: 1px solid var(--input-border-color);
    color: var(--text-color);    
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
    color: var(--placeholder-color);
}

.contact-form button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: var(--navbar-background);
    color: var(--text-color);
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.contact-form button:hover {
    background-color: var(--link-hover-color);
    color: var(--navbar-text-color);
}

.achievement {
    margin: 3rem 0;
    text-align: left;
}

.achievement-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.achievement-description {
    font-size: 1.2rem;
    color: #ccc;
    line-height: 1.6;
}

.achievement-photo {
    width: 100%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
    margin: 1.5rem 0;
    box-shadow: 0 4px 8px var(--shadow-color);
}

.checkout {
    display: inline-flex;
    align-items: center;
    gap: 0.2rem;
    text-decoration: none;
    color: inherit;
    font-size: 1.5rem;
}

.notmy {
    display: inline;
    margin: 0;
    color: #414141;
}
footer {
    text-align: center;
    padding: 1rem;
    background-color: var(--navbar-background);
    color: var(--navbar-text-color);
}
